html {
  scroll-behavior: smooth;
}
header {
  height: 75%;	
  width: 100%;
  background: url(../images/header.jpg) center center no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
header h1 {
    text-align: center;
	padding-top: 25vh;
	font-size: 100;
	font-family: ff2;
	color:black;
}

@media only screen and (max-width: 500px) {
    header h1 {
        font-size: 35px;
    }
}

header h1 span:hover {
    color:white;
}
span {
	font-family: ff3;
}
header li {
	text-align: center;
}
.info {
	background-color: #899295;
	width: 100%;
	padding-bottom:2.5vh;
}
.memor {
	background-color: #b4b8ab;
	width: 100%;
	padding-bottom:2.5vh;	
}
.contact {
	background-color: #899295;
	width: 100%;
	padding-bottom:2.5vh;
}
footer {
	height: 6 0px;
	background: #333;
	display: block;	
	width: 100%;
	z-index: 99999;
	text-align: center;
}
.title {
	text-align: center;
	padding-top: 5vh;
	font-size: 50;
	font-family: ff1;
}
.tekst {
    right: 100%;
 	margin:2vh;
	font-family:ff5;   
}
footer p, a {
    color: white;
    font-family: ff1;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.begrippen span1{
    color: #800000;
}
span2 {
    color: #800000;
}
